<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
            قائمة المستخدمين
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:mr-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-60" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5 ml-1" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'البحث'" />
            </mat-form-field>
            <!-- Add blog button -->
            <button class="mr-4 px-10" mat-flat-button [color]="'primary'" (click)="createUser()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="mr-2 ml-1">إضافة</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- blogs list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="users; else noUsers">
                <div class="grid">
                    <!-- Header -->
                    <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-9"
                        matSort matSortDisableClear>
                        <div></div>
                        <div>الاسم</div>
                        <div>البريد الإلكتروني</div>
                        <div class="hidden sm:block">
                            تاريخ الإضافة
                        </div>
                        <div class="hidden lg:block">
                            الحالة
                        </div>
                        <div class="hidden sm:block">الإجراء</div>
                    </div>
                    <!-- Rows -->
                    <ng-container *ngIf="users">
                        <ng-container *ngFor="let user of users; trackBy: trackByFn">
                            <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                <!-- Image -->
                                <div class="flex items-center">
                                    <div
                                        class="relative flex flex-0 items-center justify-center w-12 h-12 ml-6 rounded-full border overflow-hidden">
                                        <img class="w-full" *ngIf="user?.photo" [alt]="'user thumbnail image'"
                                            [src]="user?.photo" />
                                        <div class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase"
                                            *ngIf="!user?.photo">
                                            لا صورة
                                        </div>
                                    </div>
                                </div>

                                <!-- Name -->
                                <div class="truncate">
                                    {{ user?.name }}
                                </div>

                                <!-- Name -->
                                <div class="truncate">
                                    {{ user?.email }}
                                </div>

                                <!-- createdAt -->
                                <div class="hidden sm:block">
                                    {{ user?.createdAt | date: 'yyyy-MM-dd - hh:mm:ss' }}
                                </div>

                                <!-- Status -->
                                <div class="hidden lg:block">
                                    <span
                                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                        [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': user?.status === false,
                                  'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': user?.status === true}">
                                        <span class="leading-relaxed whitespace-nowrap">{{user?.status ? 'نشط' : 'غير
                                            نشط'}}</span>
                                    </span>
                                </div>

                                <!-- Action Buttons -->
                                <div>
                                    <button mat-icon-button [matMenuTriggerFor]="budgetMenu">
                                        <mat-icon class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:dots-horizontal'"></mat-icon>
                                    </button>
                                    <mat-menu #budgetMenu="matMenu">
                                        <button mat-menu-item (click)="showUser(user?._id)">
                                            <span class="flex items-center">
                                                <mat-icon class="icon-size-5 mr-3"
                                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                                <span>عرض</span>
                                            </span>
                                        </button>
                                        <button mat-menu-item (click)="updateUser(user?._id)">
                                            <span class="flex items-center">
                                                <mat-icon class="icon-size-5 mr-3"
                                                    [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                                <span>تعديل</span>
                                            </span>
                                        </button>
                                        <button mat-menu-item (click)="updateUserPassword(user?._id)">
                                            <span class="flex items-center">
                                                <mat-icon class="icon-size-5 mr-3"
                                                    [svgIcon]="'heroicons_solid:lock-open'"></mat-icon>
                                                <span>تغيير كلمة المرور</span>
                                            </span>
                                        </button>
                                        <button mat-menu-item (click)="deleteUser(user?._id)">
                                            <span class="flex items-center">
                                                <mat-icon class="icon-size-5 mr-3 text-warn-400"
                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                <span>حذف</span>
                                            </span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <mat-paginator
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{ 'pointer-events-none': isLoading }" [length]="totalUsers" [pageIndex]="pageIndex"
                    (page)="getPaginatorData($event)" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>
            </ng-container>
            <ng-template #noUsers>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                    لا يوجد مستخدمين!
                </div>
            </ng-template>
        </div>
    </div>
</div>