<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <a class="whitespace-nowrap text-primary-500">المستخدمين</a>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    تغيير كلمة المرور
                </h2>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <!-- blog form -->
        <form [formGroup]="userForm">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 w-full -m-4">
                <div class="lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl">
                    <div class="my-8">
                        <div class="flex">
                            <div class="flex flex-col w-full">
                                <div class="flex flex-col sm:flex-row">
                                    <div class="flex flex-col w-full">
                                        <!-- Password -->
                                        <mat-form-field class="w-full">
                                            <mat-label>كلمة المرور</mat-label>
                                            <input matInput [formControlName]="'password'" type="password">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto p-6 bg-card rounded-2xl shadow">
                    <div class="my-8">

                        <div class="flex items-center justify-between w-full border-t px-8 py-4">

                            <button class="-mr-4" mat-button [color]="'warn'" (click)="onBack()">
                                إلغاء
                            </button>
                            <div class="flex items-center">
                                <button mat-flat-button [color]="'primary'" (click)="submitForm()">
                                    حفظ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>